/***  Link to google fonts in head of html documents.
    font-family: 'DM Serif Display', serif; --> font-weight: 400 (regular)
    font-family: 'Public Sans', sans-serif; --> font-weight: 400 (regular) & 700 (bold) 
    font-family: 'Roboto Mono', monospace; --> font-weight: 300 (light) ***/

*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ====================
    General Typography
======================= */
body {
    font-family: 'Public Sans', sans-serif;
    font-size: 15px;
    line-height: 28px;
    background-color: #EDF3F8;
}

/* Mobile Version */
h1 {
    font-family: 'DM Serif Display', serif;
    font-size: 32px;
    line-height: 36px;
    letter-spacing: -0.25px;
    font-weight: 400;
}

/* e.g. Ready to start? */
h2 { 
    font-family: 'DM Serif Display', serif;
    font-size: 32px;
    line-height: 36px;
    letter-spacing: -0.25px;
    font-weight: 400; 
}

/* e.g. Free Plan */
h3 { 
    font-family: 'DM Serif Display', serif;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.18px;
    font-weight: 400;
}

/* e.g. personal finances*/
h4 {
    font-family: 'Public Sans', sans-serif;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.14px;
    font-weight: 700;
}

p {
    font-weight: 400;
}

a {
    text-decoration: none;
}

.section-heading--dark {
    color: #36536B;
}

.section-heading--light {
    color: #FBFCFE;
}


/* Tablet Version */
@media (min-width: 768px) {
    h1 {
        font-size: 48px;
        line-height: 56px;
        letter-spacing: -0.37px;
    }
}


/* ====================
         Header
======================= */
.header__container {
    display: flex;
    justify-content: space-between;
    padding: 40px 24px 38px 25px;
    position: relative;
    align-items: center;
    z-index: 20;
}

.logo,
#menu--open,
#menu--closed,
.button__navigation--dark {
    cursor: pointer;
}

#menu--open {
    height: 17px;
}

.navigation {
    width: 0;
    height: 100vh;
    background-color: rgb(27, 38, 47);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    transition: 500ms ease-in;
    overflow: hidden;
    z-index: 30;
}

#menu--closed {
    float: right;
    margin-right: 27px;
    margin-top: 48px;
    margin-bottom: 24px;
}

.header__pages {
    list-style: none;
    text-align: center;
    width: 300px;
    clear: right;
    border-top: 1px solid rgba(251, 252, 254, 0.15);
    margin: 0 auto;
    padding-top: 27px;
    padding-bottom: 16px;
}

.header__page {
    padding: 16px;
}

.header__page a {
    color: rgba(251, 252, 254, 0.7);
    font-size: 20px;
}

.button__container--centered {
    text-align: center;
}

.button__navigation--dark {
    background-color: rgb(186, 66, 112);
    border: none;
    color: #FBFCFE;
    font-family: 'Public Sans', sans-serif; 
    font-weight: 700;
    letter-spacing: -0.12px;
    font-size: 15px;
    border-radius: 24px;
    box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
    padding: 16px 65px;
    width: 252px;
}

@media (min-width: 768px) {
    header {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .header__container {
        display: flex;
        justify-content: space-between;
        position: unset;
        z-index: 0;
        margin-right: 3em;
    }
    
    #menu--open {
        display: none;
    }
    
    .navigation {
        width: auto;
        height: 38px;
        background-color: unset;
        position: unset;
        transition: unset;
        overflow: unset;
        z-index: 30;
        display: flex;
        align-items: center;
    }
    
    #menu--closed {
        display: none;
    }
    
    .header__pages {
        display: flex;
        flex-direction: row;
        border: none;
        margin: 0 auto;
        padding-top: none;
        padding-bottom: none;
        align-items: center;
        padding: unset;
    }
    
    .header__page {
        padding: 16px;
    }
    
    .header__page a {
        color: #36536B;
        opacity: 0.7;
        font-size: 15px;
    }
    
    .button__container--centered {
        text-align: center;
    }
    
    .button__navigation--dark {
        padding: unset;
        width: 173px;
        height: 38px;
        cursor: pointer;
    }
}


/* ====================
    General Layout
======================= */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 0 2em;
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form__input {
    font-size: 1rem;
    margin-bottom: 1.4em;
    padding: 1.2em;
    border-radius: 5em;
    border: none;
    font-weight: 700;
    letter-spacing: 0.3px;
}

.form__input--email {
    box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
}

.form__input::placeholder {
    color: rgba(54, 83, 107, 0.5);
}


.form__input--btn {
    background: #BA4270;
    color: #FBFCFE;
}

.bg-circle__container--hero {
    width: 96.7vw;
    overflow: hidden;
    position: relative;
    height: 140px;
    margin-top: -140px;
    
}

.bg-circle--hero {
    margin-top: -660px;
    left: 100px;
    top: 0;
    position: absolute;
}

@media (min-width: 768px) {
    .bg-circle__container--hero {   
        height: 300px;
        position: absolute;
    }

    .bg-circle--hero {
        margin-top: -500px;
        left: 500px;
    }
}

/* ====================
    Index/Home
======================= */

/* Intro - section */
.body--index {
    overflow-x: hidden;
    background: #EDF3F8;
}

.header--index {
    position: relative;
}

.bg-circle-container {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    overflow-x: hidden;
    /* border: 1px solid red; */
    
}

.bg-circle--header { 
    max-width: 500px;
    position: absolute;
    z-index: 1;
    top: -330%;
    transform: scale(2);
    width: 100%;
    /* border: 1px solid orange; */
}

.container--index-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: relative;
    align-items: center;
    background: #EDF3F8;
    padding-bottom: 3em;
}

.intro-content {
    position: relative;
    top: -45px;
}

.section-heading--intro {
    margin-bottom: 1em;
    letter-spacing: 0.3px;
}

.intro-img-container {
    order: -1;
    position: relative;
    z-index: 2;
}

.intro-img {
    width: 70%;
    /* border: 1px solid green; */
    margin-bottom: 0;
    position: relative;
    left: 20px;
    font-family: 'Public Sans';
}

.demo-form-wrapper {
    width: 100%;
 }
 
.demo-form {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 2em;
    outline: unset;
}

.demo-form__input {
    width: 100%;
}

.form__input--demo-email, .form__input--demo-btn {
    width: 100%;
}

.intro-content__note {
    color: #6C8294;
    margin-top: 1em;
}

/* Tablet Version */

@media screen and (min-width: 768px) {
    .section-heading--intro {
        font-size: 3rem;
        padding-left: 2em;
        padding-right: 2em;
    }

    /* Schedule Demo Form */
    .demo-form {
        flex-direction: row;
        justify-content: center;    
        max-width: 445px;
        position: relative;
    }

    .demo-form__input {
        width: auto;
    }

    .form__input--demo-email, .form__input--demo-btn {
        width: auto;
        margin-bottom: 0;
    }

    .form__input--demo-email {
        padding-right: 15em;
        width: 100%;
    }

    .form__input--demo-btn {
        position: absolute;
        right: 0;
        padding-left: 1.6em;
        padding-right: 1.6em;
    }
}

/* Who We Work With - section */
.container--index-work {
    display: flex;
    width: 100%;
    flex-direction: column;
    background: #1B262F;
    text-align: center;
    position: relative;
    overflow: hidden;
    padding: 5em 2em;
}

.bg-circle--work {
    max-width: 500px;
    position: absolute;
    z-index: 1;
    top: -79%;
    transform: scale(2);
    /* border: 1px solid orange; */
}

.company-logo-container {
    order: -1;
    margin-bottom: 3.5em;
    display: grid;
    grid-template: repeat(3, auto) / repeat(2, auto);
    justify-items: center;
    align-items: center;
    row-gap: 2.85em;
}

.company-logo {
    display: block;
}

.company-logo * {
    fill: white;
}


.section-heading--work {
    margin-bottom: 1em;
}

.work-text {
    color: #FBFCFE;
    opacity: 0.7;
    line-height: 2em;

}

.btn--outline {
    color: #FBFCFE;
    font-weight: 700;
    border: 1px solid #FBFCFE;
    padding: 0.8em 2.5em;
    align-self: center;
    border-radius: 5em;
    margin-top: 3.75em;
}

/* Tablet Version */
@media (min-width: 768px) {
    .company-logo-container {
        grid-template: repeat(2, auto) / repeat(3, auto);
    }

    .section-heading--work {
        font-size: 3rem;
    }

    .work-text {
        padding-left: 9em;
        padding-right: 9em;
    }
}

/* Easy to implement - section */

.container--index-implement {
    position: relative;
    background: #EDF3F8;
    padding-top: 0;
    padding: 5em 2em;
}

.section-heading--implement {
    font-size: 2.25rem;
    margin-bottom: 0.7em;
}

.img-container--implement {
    order: -1;
    /* border: 1px solid green; */
}

.section-img--implement {
    width: 100%;
    position: relative;
    left: 20px;
}

.implement-text {
    color: #6C8294;
}

/* Tablet version */
@media screen and (min-width: 768px) {
    .section-heading--implement {
        font-size: 3rem;
    }
}

/* Simple UI & UX - section */

.container--index-simple {
    background: #EDF3F8;
    padding-top: 0;
}

.img-container--simple {
    order: -1;
    /* border: 1px solid green; */
}

.section-img--simple {
    width: 100%;
    position: relative;
    left: 20px;
}

.section-heading--simple {
    margin-bottom: 0.7em;
    font-size: 2.5em;
}

.simple-text {
    color: #6C8294;
}

/* Features -section */

.container--index-features {
    padding: 5em 2em;
    background: #EDF3F8;
}

.feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3.5em;
}

.feature:last-child {
    margin-bottom: 0;
}

.feature-img {
    order: -1;
    width: 25%;
    max-width: 125px;
    margin-bottom: 2.1em;
}

.feature-title {
    font-size: 1.125rem;
    color: #36536B;
    margin-bottom: 1em;
    font-weight: 700;
}

.feature-text {
    line-height: 167%;
    letter-spacing: -0.007em;
    color: #6C8294;
}

/* ====================
 Ready-To-Start-Container
======================= */
.ready-to-start__section {
    text-align: center;
    color: #36536B;
    background: #EDF3F8;
    padding-top: 5em;
    padding-bottom: 5em;
}

.ready-to-start__form-wrapper {
   width: 100%;
}

.ready-to-start__form {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 2em;
    outline: unset;
}

.ready-to-start__form-input {
    width: 100%;
}

.form__input--ready-to-start-email, .form__input--ready-to-start-btn {
    width: 100%;
}

.ready-to-start__section input:focus {
    outline: none;
}

@media screen and (min-width: 768px) {
   
    .ready-to-start__form {
        flex-direction: row;
        justify-content: center;    
        max-width: 445px;
        position: relative;
    }

    .ready-to-start__form-input {
        width: auto;
    }

    .form__input--ready-to-start-email, .form__input--ready-to-start-btn {
        width: auto;
    }

    .form__input--ready-to-start-email, .form__input--ready-to-start-btn {
        margin-bottom: 0;
    }

    .form__input--ready-to-start-email {
        padding-right: 15em;
        width: 100%;
    }

    .form__input--ready-to-start-btn {
        position: absolute;
        right: 0;
        padding-left: 1.6em;
        padding-right: 1.6em;
    }
}

/* ====================
    Pricing
======================= */

.body--pricing {
    background: #EDF3F8;
}

.section-heading--pricing {
    margin-top: 0.5em;
}

.plan {
    margin-top: 3em;
}

.plan__title {
    color: #BA4270;
    margin-bottom: 4em;
}

.plan__description {
    display: none;
    color: #6C8294;
    margin: 1em auto 2.8em auto;
    padding: 0.8em;
}

.plan__price {
    font-size: 3.5em;
    font-family: 'DM Serif Display', serif;
    color: #36536B;
}

.plan__options-box {
    margin: 3em auto 1.5em;
    border-top: 1px solid rgba(54, 83, 107, 0.25);
    border-bottom: 1px solid rgba(54, 83, 107, 0.25);
    padding: 1.5em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid red; */
}

.plan__option-box {
    display: flex;
    align-items: center;
    margin-bottom: 0.5em;
}

.plan__option-box:last-child {
    margin-bottom: 0;
}

.plan__option-chk {
    margin-right: 1.5em;
}

.plan__option-chk--null {
    visibility: hidden; /* hide checkmark but keep element dimensions */
}

.plan__option-title {
    color: #36536B;
}

.plan__option-title--null {
    color: rgba(54, 83, 107, 0.55);
}

.plan__btn {
    display: inline-block;
    color: #36536B;
    font-weight: 700;
    border: 1px solid #36536B;
    padding: 0.8em 2.5em;
    border-radius: 2em;
    cursor: pointer;
}

/* Tablet Version */
@media screen and (min-width: 768px) {
    .pricing-plans__wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 0.625em;
    }  

    .pricing__title {
        font-size: 3rem;
        margin-bottom: 1.2em;
    }

    .plan__title {
        margin: unset;
    }

    .plan__description {
        display: block;
    }
}


/* ====================
         About
======================= */
.vision-business__section {
    margin: 0 1.6rem 5rem 1.6rem;
    text-align: center;
    color: #36536B;
}

.about__subheading {
    margin: 2.67rem 0 1rem 0;
}

.description__text {
    color: #6C8294;
}

.about__img {
    background-image: url("./assets/about/mobile/image-team-members.jpg");
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.company-numbers__section {
    margin: 3.2rem 1.6rem;
    text-align: center;
    border-top: 1px solid rgba(54, 83, 107, 0.25);
    border-bottom: 1px solid rgba(54, 83, 107, 0.25);
}

.company-number__container {
    margin-top: 16px;
    margin-bottom: 32px;
}

.company-number__container:last-child {
    margin-bottom: 16px;
}

.company-number__container h4 {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0;
    color: rgba(54, 83, 107, 0.7);
}

.company-number__container p {
    font-family: 'DM Serif Display', serif;
    line-height: 72px;
    font-size: 56px;
    letter-spacing: -0.43px;
    color: #BA4270;
}

.culture-people__section {
    margin: 0 1.6rem 5rem 1.6rem;
    text-align: center;
    color: #36536B;
}


/* Tablet Version */
@media (min-width: 768px) {
    .about__subheading {
        font-size: 32px;
        line-height: 40px;
        letter-spacing: -0.25px;
        width: 223px;
        margin: 0;
    }

    .description__container {
        display: flex;
        text-align: left;
        justify-content: space-between;
        margin-top: 64px;
    }

    .description__text {
        width: 456px;
    }

    .about__img {
        background-image: url("./assets/about/tablet/image-team-members.jpg");
        height: 267px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .company-numbers__container {
        display: flex;
        justify-content: space-between;
        margin: 0 1em;
        padding-top: 1em;
    }
}



/* ====================
        Contact
======================= */
.contact-form__section {
    text-align: center;
    color: #36536B;
    margin: 0 24px;
}

.contact__form {
    max-width: 327px;
    margin: 40px auto 80px auto;
    display: flex;
    flex-direction: column;
    height: 499px;
    justify-content: space-between;
}

.contact__form input,
.contact__form textarea {
    border: none;
    background-color: unset;
    padding-left: 20px;
    border-bottom: 1px solid rgba(54, 83, 107, 0.5);
    font-family: 'Public Sans', sans-serif;
    color:rgba(54, 83, 107, 0.5);
}

.contact__form input {
    padding-bottom: 17px;
}

.contact__form textarea {
    padding-bottom: 64px;
}

.contact__form input:focus,
.contact__form textarea:focus {
    outline: none;
}

.contact-checkbox__container {
    text-align: left;
    position: relative;
    height: 50px;
}

.contact-checkbox__container #newsletter__checkbox {
    position: absolute;
    top: 40%;
    left: 0; 
    opacity: 0;
}

.checkmark--custom {
    position: absolute;
    top: 30%;
    left: 0;
    height: 24px;
    width: 24px;
    background-color: rgba(54, 83, 107, 0.25);
    cursor: pointer;
}

.contact-checkbox__container label {
    position: absolute;
    top: 0;
    left: 50px;
}

.contact__form button {
    width: 152px;
    height: 48px;
    border-radius: 24px;
    font-family: 'Public Sans', sans-serif;
    font-weight: 700;
    color: #36536B;
    cursor: pointer;
    background-color: unset;
    border: 1.5px solid #36536B;
}

.innovators__section--light {
    color:rgba(54, 83, 107, 0.75);
    text-align: center;
    margin: 0 48px;
}

.innovators__section--light  .company-logo-container {
    order: -1;
    margin-top: 48px;
    margin-bottom: 3.5em;
}

.innovators__section--light  .company-logo * {
    fill: #36536B;
}

.innovators__section--light  .company-logo-group {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2.4em;
}

.innovators__section--light  .company-logo-group-last {
    margin-bottom: 0;
}



/*       Tablet          */
@media (min-width: 768px) {
    .contact-form__section h1 {
        width: 530px;
        margin: 0 auto;
    }

    .contact__form {
        min-width: 445px;
    }

    .contact__form input,
    .contact__form textarea {
        font-size: 15px;
        line-height: 25px;
        letter-spacing: -0.12px;
    }

    .innovators__section--light h3 {
        width: 445px;
        margin: 0 auto;
    }

}

/* ====================
        Footer
======================= */

footer {
    background: #1B262F;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.6em 0 3.44em 0;
    position: relative;
    z-index: 1;
    overflow-y: hidden;
    overflow-x: hidden;
}

.footer__logo * {
    fill: #FBFCFE;
    cursor: pointer;
}

.footer__menu {
    margin: 2.5em auto;
    text-align: center;
}

.footer__menu__item {
    cursor: pointer;
    margin-bottom: 1.94em;
    font-weight: 700;
}

.footer__menu__item:last-child {
    margin-bottom: 0;
}

.footer__menu__item__link {
    color:  #FBFCFE;
}

.footer__social__icon {
    margin-right: 1.6em;
    cursor: pointer;
}

.footer__social__icon:last-child {
    margin-right: 0;
}


.bg-circle--footer {
    position: absolute;
    bottom: -146%;
    transform: scale(2);
    max-width: 500px;
    z-index: -1;
}

/* Footer - Tablet Version */
@media screen and (min-width: 768px) {
    footer {
        flex-direction: row;
        padding: 1.94em 2.5em;
        align-items: center;
    }

    .footer__menu {
        display: flex;
        margin: unset;
        margin-left: 4em;
    }

    .footer__menu__item {
        margin: unset;
        margin-right: 2.5em;
    }

    .footer__menu__item:last-child {
        margin-right: 0;
    }

    .footer__social {
        margin-left: auto;
    }

    .bg-circle--footer {
        position: absolute;
        top: 20%;
        right: -36%;
        transform: scale(2);
        max-width: 500px;
        z-index: -1;
    }
}
