/***  Link to google fonts in head of html documents.
    font-family: 'DM Serif Display', serif; --> font-weight: 400 (regular)
    font-family: 'Public Sans', sans-serif; --> font-weight: 400 (regular) & 700 (bold) ***/

*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ====================
    General Typography
======================= */
body {
    font-family: 'Public Sans', sans-serif;
    font-size: 15px;
    line-height: 28px;
    background-color: #F2F2F2;;
}

/* Mobile Version */
h1 {
    font-family: 'DM Serif Display', serif;
    font-size: 32px;
    line-height: 36px;
    letter-spacing: -0.25px;
    font-weight: 400;
}

/* e.g. Ready to start? */
h2 { 
    font-family: 'DM Serif Display', serif;
    font-size: 32px;
    line-height: 36px;
    letter-spacing: -0.25px;
    font-weight: 400; 
}

/* e.g. Free Plan */
h3 { 
    font-family: 'DM Serif Display', serif;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.18px;
    font-weight: 400;
}

/* e.g. personal finances*/
h4 {
    font-family: 'Public Sans', sans-serif;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.14px;
    font-weight: 700;
}

/* ====================
         Header
======================= */
header {
    display: flex;
    justify-content: space-between;
    margin: 40px 24px 38px 25px;
}

.logo,
#menu--hidden {
    cursor: pointer;
}

nav ul,
nav button {
    display: none;
}

/* ====================
         About
======================= */
.vision-business__section {
    margin: 0 1.6rem 5rem 1.6rem;
    text-align: center;
    color: #36536B;
}

.vision-business__section h3 {
    margin: 2.67rem 0 1rem 0;
}

.vision-business__section p {
    color: #6C8294;
}